<!DOCTYPE html>
<html dir="ltr" lang="en" style=""
      class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths no-mobile">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <meta name="description" content="Workshop | Car Repair &amp; Servicing HTML Template">
    <meta name="keywords" content="car,auto,moto,repair,wash,cleaning,transport,workshop">
    <meta name="author" content="ThemeMascot">

    <!-- Page Title -->
    <title>Чип-Тюнинг | Могилев | Прошивка ЭБУ</title>

    <!-- Favicon and Toexpertsexpertsuch Icons -->
    <link href="images/favicon.png" rel="shortcut icon"
          type="image/png">
    <link href="images/apple-touch-icon.png"
          rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png"
          rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png"
          rel="apple-touch-icon" sizes="114x114">
    <link href="images/apple-touch-icon-144x144.png"
          rel="apple-touch-icon" sizes="144x144">

    <!-- Stylesheet -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="bower_components/jquery-ui/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="css/animate.css" rel="stylesheet" type="text/css">
    <link href="css/css-plugin-collections.css" rel="stylesheet">
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="css/menuzord-colored.css" rel="stylesheet">
    <!-- CSS | Main style file -->
    <link href="css/style-main.css" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="css/preloader.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

    <!-- CSS | Theme Color -->
    <link href="css/theme-skin-color-set-1.css" rel="stylesheet" type="text/css">

    <!-- external javascripts -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="js/jquery-plugin-collection.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="dark bg-img-cover">
<div id="wrapper" class="clearfix">
    <!-- preloader -->
    <div id="preloader">
        <div id="spinner">
            <img alt="" src="images/5.gif">
        </div>
        <div id="disable-preloader" class="btn btn-default btn-sm">Отключить</div>
    </div>

    <!-- Header
    <header id="header" class="header">
        <div class="header-nav navbar-fixed-top header-dark navbar-white navbar-transparent navbar-sticky-animated animated-active">
            <div class="header-nav-wrapper">
                <div class="container-wrapper add-padding">
                    <nav id="menuzord-right" class="menuzord menuzord-responsive red">
                        <a href="javascript:void(0)" class="showhide" style="display: none;"></a>
                        <a class="menuzord-brand pull-left flip mt-5" href="javascript:void(0)">
                            <img src="images/logo-small.png" alt="">
                        </a>
                        <ul class="logo-text">
                            <li><span>Чип</span> тюнинг</li>
                            <li>Могилев</li>
                        </ul>

                        <ul  class="logo-text">
                            <li>+375 29 847-47-27 Алексей</li>
                            <li>Пн-Сб 8:00 до 20:00</li>
                            <li>Могилев, ул.Каштановая 32</li>
                        </ul>

                        <ul class="menuzord-menu dark menuzord-right menuzord-indented scrollable"
                            style="max-height: 400px;">
                            <li>
                                <a href="index.html">Главная<span class="indicator"></span></a>
                            </li>
                            <li>
                                <a href="#home">Работы<span class="indicator"></span></a>
                            </li>
                            <li>
                                <a href="#home">Галлерея<span class="indicator"></span></a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="#video">Видео</a>
                                    </li>
                                    <li>
                                        <a href="#video">Фото</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active">
                                <a href="#home">FAQ<span class="indicator"></span></a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="zakaz.html">Заказ прошивки<span class="indicator"></span></a>
                                    </li>
                                    <li>
                                        <a href="#home">Стоимость тюнинга<span class="indicator"></span></a>
                                    </li>
                                    <li>
                                        <a href="#home">Эмулятор катализатора<span class="indicator"></span></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#home">Контакты<span class="indicator"></span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-nav navbar-fixed-top header-dark navbar-white navbar-transparent navbar-sticky-animated animated-active">
            <div class="header-nav-wrapper">
                <div class="container-wrapper add-padding">
                    <div id="logo_block" class="col-xs-12 col-sm-5 col-md-3">
                        <a href="javascript:void(0)" class="showhide" style="display: none;"></a>
                        <a class="menuzord-brand pull-left flip mt-5" href="javascript:void(0)">
                            <img src="images/logo-small.png" alt="">
                        </a>
                        <ul class="logo-text">
                            <li><span>Чип</span> тюнинг</li>
                            <li>Могилев</li>
                        </ul>
                    </div>
                    <div id="contact_block" class="col-xs-12 hidden-sm col-md-4">
                        <div class="widget no-border sm-pull-none sm-text-center mt-10 mb-10 m-0 contact_block">
                            <ul class="list-inline">
                                <li>
                                    <i class="fa fa-youtube"></i>
                                </li>
                                <li>
                                    <i class="fa fa-instagram"></i></a>
                                <li><i class="fa fa-phone-square text-theme-colored sm-display-block"></i>
                                </li>
                                <li>
                                    <a href="#" class="text-uppercase"> Телефон</a>
                                    <h5 class="m-0">+375 29 847-47-27</h5>
                                </li>
                            </ul>
                        </div>

                        <!--<div class="col-xs-12 col-sm-2 hidden-md social">
                            <div class="widget no-border pull-right sm-pull-none sm-text-center mt-10 mb-10 m-0">
                                <ul class="list-inline">
                                    <li><i class="fa fa-youtube text-theme-colored font-25 mt-5 sm-display-block"></i></li>
                                    <li><i class="fa fa-instagram text-theme-colored font-25 mt-5 sm-display-block"></i></li>
                                </ul>
                            </div>
                        </div>-->
                    </div>
                    <div id="nav_block" class="col-xs-12 col-sm-7 col-md-5">
                        <nav id="menuzord-right" class="menuzord menuzord-responsive red">
                            <ul class="menuzord-menu dark menuzord-right menuzord-indented scrollable"
                                style="max-height: 400px;">
                                <li>
                                    <a href="index.html">Главная<span class="indicator"></span></a>
                                </li>
                                <li>
                                    <a href="#home">Работы<span class="indicator"></span></a>
                                </li>
                                <li>
                                    <a href="#home">Галлерея<span class="indicator"></span></a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="#video">Видео</a>
                                        </li>
                                        <li>
                                            <a href="#video">Фото</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="active">
                                    <a href="#home">FAQ<span class="indicator"></span></a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="zakaz.html">Заказ прошивки<span class="indicator"></span></a>
                                        </li>
                                        <li>
                                            <a href="#home">Стоимость тюнинга<span class="indicator"></span></a>
                                        </li>
                                        <li>
                                            <a href="#home">Эмулятор катализатора<span class="indicator"></span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#home">Контакты<span class="indicator"></span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Start main-content -->
    <div class="main-content">

        <!-- Section: Have Any Question -->
        <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/bg_5.jpg"
                 style="background-image: url('images/bg_5.jpg');  background-position: 50% -11px;">
            <div class="container pt-90 pb-50">
                <!-- Section Content -->
                <div class="section-content pt-100">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title text-white">Заказ прошивки</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Booking Form -->
        <section>
            <div class="container pt-50 pb-50">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="entry-content">
                                <div class="entry-meta media no-bg no-border mt-15 pb-20">
                                    <div class="media-body pl-15">
                                        <div class="event-content pull-left flip">
                                            <blockquote class="theme-colored pt-20 pb-20">
                                                <h3 class="entry-title text-white text-uppercase pt-0 mt-0">
                                                    Для заказа тюнингового файла прошивки необходимо заполнить форму,
                                                    расположенную ниже
                                                    и прикрепить файл с оригинальной программой, считанной с блока
                                                    управления Вашего автомобиля.
                                                </h3></blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Reservation Form Start-->
                            <form name="reservation_form" class="reservation-form" method="post"
                                  action="includes/booking-form-large.php">
                                <div class="row">
                                    <div class="reservation-first-step">
                                        <h3 class="text-theme-colored line-bottom ml-15 mb-30 mr-15">Информация об <span
                                                class="text-theme-color-2">авто</span></h3>
                                        <div class="col-sm-6">
                                            <div class="form-group mb-30">
                                                <label>Марка авто*</label>
                                                <div class="styled-select">
                                                    <select id="car_name_select" name="car_name_select"
                                                            class="form-control ddslick" required="">
                                                        <option data-description="Прошивка на ABARTH"
                                                                data-imagesrc="images/brands/abarth.png" value="ABARTH">
                                                            ABARTH
                                                        </option>
                                                        <option data-description="Прошивка на Alfa Romeo"
                                                                data-imagesrc="images/brands/alfa romeo.png"
                                                                value="Alfa Romeo">Alfa Romeo
                                                        </option>
                                                        <option data-description="Прошивка на Audi"
                                                                data-imagesrc="images/brands/audi.png" value="Audi"
                                                                selected>Audi
                                                        </option>
                                                        <option data-description="Прошивка на BMW"
                                                                data-imagesrc="images/brands/bmw.png" value="BMW">BMW
                                                        </option>
                                                        <option data-description="Прошивка на Chevrolet"
                                                                data-imagesrc="images/brands/chevrolet.png"
                                                                value="Chevrolet">Chevrolet
                                                        </option>
                                                        <option data-description="Прошивка на Chrysler"
                                                                data-imagesrc="images/brands/chrysler.png"
                                                                value="Chrysler">Chrysler
                                                        </option>
                                                        <option data-description="Прошивка на Citroen"
                                                                data-imagesrc="images/brands/citroen.png"
                                                                value="Citroen">Citroen
                                                        </option>
                                                        <option data-description="Прошивка на Dacia"
                                                                data-imagesrc="images/brands/dacia.png" value="Dacia">
                                                            Dacia
                                                        </option>
                                                        <option data-description="Прошивка на Dodge"
                                                                data-imagesrc="images/brands/dodge.png" value="Dodge">
                                                            Dodge
                                                        </option>
                                                        <option data-description="Прошивка на Fiat"
                                                                data-imagesrc="images/brands/fiat.png" value="Fiat">Fiat
                                                        </option>
                                                        <option data-description="Прошивка на Ford"
                                                                data-imagesrc="images/brands/ford.png" value="Ford">Ford
                                                        </option>
                                                        <option data-description="Прошивка на Honda"
                                                                data-imagesrc="images/brands/honda.png" value="Honda">
                                                            Honda
                                                        </option>
                                                        <option data-description="Прошивка на Hyundai"
                                                                data-imagesrc="images/brands/hyundai.png"
                                                                value="Hyundai">Hyundai
                                                        </option>
                                                        <option data-description="Прошивка на Infiniti"
                                                                data-imagesrc="images/brands/infiniti.png"
                                                                value="Infiniti">Infiniti
                                                        </option>
                                                        <option data-description="Прошивка на Isuzu"
                                                                data-imagesrc="images/brands/isuzu.png" value="Isuzu">
                                                            Isuzu
                                                        </option>
                                                        <option data-description="Прошивка на Jaguar"
                                                                data-imagesrc="images/brands/jaguar.png" value="Jaguar">
                                                            Jaguar
                                                        </option>
                                                        <option data-description="Прошивка на Jeep"
                                                                data-imagesrc="images/brands/jeep.png" value="Jeep">Jeep
                                                        </option>
                                                        <option data-description="Прошивка на Kia"
                                                                data-imagesrc="images/brands/kia.png" value="Kia">Kia
                                                        </option>
                                                        <option data-description="Прошивка на Lancia"
                                                                data-imagesrc="images/brands/lancia.png" value="Lancia">
                                                            Lancia
                                                        </option>
                                                        <option data-description="Прошивка на Land Rover"
                                                                data-imagesrc="images/brands/land rover.png"
                                                                value="Land Rover">Land Rover
                                                        </option>
                                                        <option data-description="Прошивка на Lexus"
                                                                data-imagesrc="images/brands/lexus.png" value="Lexus">
                                                            Lexus
                                                        </option>
                                                        <option data-description="Прошивка на Mazda"
                                                                data-imagesrc="images/brands/mazda.png" value="Mazda">
                                                            Mazda
                                                        </option>
                                                        <option data-description="Прошивка на Mercedes-Benz"
                                                                data-imagesrc="images/brands/mercedes-benz.png"
                                                                value="Mercedes-Benz">Mercedes-Benz
                                                        </option>
                                                        <option data-description="Прошивка на Mini"
                                                                data-imagesrc="images/brands/mini.png" value="Mini">Mini
                                                        </option>
                                                        <option data-description="Прошивка на Mitsubishi"
                                                                data-imagesrc="images/brands/mitsubishi.png"
                                                                value="Mitsubishi">Mitsubishi
                                                        </option>
                                                        <option data-description="Прошивка на Opel"
                                                                data-imagesrc="images/brands/opel.png" value="Opel">Opel
                                                        </option>
                                                        <option data-description="Прошивка на Peugeot"
                                                                data-imagesrc="images/brands/peugeot.png"
                                                                value="Peugeot">Peugeot
                                                        </option>
                                                        <option data-description="Прошивка на Porsche"
                                                                data-imagesrc="images/brands/porsche.png"
                                                                value="Porsche">Porsche
                                                        </option>
                                                        <option data-description="Прошивка на Ram"
                                                                data-imagesrc="images/brands/ram.png" value="Ram">Ram
                                                        </option>
                                                        <option data-description="Прошивка на Renault"
                                                                data-imagesrc="images/brands/renault.png"
                                                                value="Renault">Renault
                                                        </option>
                                                        <option data-description="Прошивка на Rolls-Royce"
                                                                data-imagesrc="images/brands/rolls-royce.png"
                                                                value="Rolls-Royce">Rolls-Royce
                                                        </option>
                                                        <option data-description="Прошивка на Seat"
                                                                data-imagesrc="images/brands/seat.png" value="Seat">Seat
                                                        </option>
                                                        <option data-description="Прошивка на Skoda"
                                                                data-imagesrc="images/brands/skoda.png" value="Skoda">
                                                            Skoda
                                                        </option>
                                                        <option data-description="Прошивка на Smart"
                                                                data-imagesrc="images/brands/smart.png" value="Smart">
                                                            Smart
                                                        </option>
                                                        <option data-description="Прошивка на SsangYong"
                                                                data-imagesrc="images/brands/ssangyong.png"
                                                                value="SsangYong">SsangYong
                                                        </option>
                                                        <option data-description="Прошивка на Subaru"
                                                                data-imagesrc="images/brands/subaru.png" value="Subaru">
                                                            Subaru
                                                        </option>
                                                        <option data-description="Прошивка на Suzuki"
                                                                data-imagesrc="images/brands/suzuki.png" value="Suzuki">
                                                            Suzuki
                                                        </option>
                                                        <option data-description="Прошивка на Toyota"
                                                                data-imagesrc="images/brands/toyota.png" value="Toyota">
                                                            Toyota
                                                        </option>
                                                        <option data-description="Прошивка на Volkswagen"
                                                                data-imagesrc="images/brands/volkswagen.png"
                                                                value="Volkswagen">Volkswagen
                                                        </option>
                                                        <option data-description="Прошивка на Volvo"
                                                                data-imagesrc="images/brands/volvo.png" value="Volvo">
                                                            Volvo
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group mb-30">
                                                <!-- Ui-Slider-Handle Markup -->
                                                <label for="amount">Возраст авто*:</label>
                                                <input type="text" id="amount" data-target="slider-range-max"
                                                       class="form-control slider-range" name="car_year_select">
                                                <div id="slider-range-max"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <label>Модель*</label>
                                                <input placeholder="Type Model Here" type="text" id="car_model"
                                                       name="car_model" class="form-control" required="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <label>Объем двигателя*</label>
                                                <input placeholder="Type Model Here" type="text" id="car_capacity"
                                                       name="car_engine" class="form-control" required="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <label>Двигатель*</label>
                                                <div class="styled-select">
                                                    <select id="car_engine" name="car_service_select"
                                                            class="form-control" required="">
                                                        <option value="Бензиновый атмосферный">Бензиновый атмосферный
                                                        </option>
                                                        <option value="Бензиновый турбированный">Бензиновый
                                                            турбированный
                                                        </option>
                                                        <option value="Дизельный атмосферный">Дизельный атмосферный
                                                        </option>
                                                        <option value="Дизельный турбированный">Дизельный
                                                            турбированный
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group mb-20">
                                                <label class="mb-20">Трансмиссия</label><br>
                                                <label class="control control--radio">Механическая
                                                    <input value="Ручная механическая" type="radio"
                                                           name="number_of_wheels"/>
                                                    <div class="control__indicator"></div>
                                                </label>
                                                <label class="control control--radio">Автоматическая
                                                    <input value="Автоматическая" type="radio" name="number_of_wheels"/>
                                                    <div class="control__indicator"></div>
                                                </label>
                                                <label class="control control--radio">Вариатор
                                                    <input value="Вариатор" type="radio" name="number_of_wheels"/>
                                                    <div class="control__indicator"></div>
                                                </label>
                                                <label class="control control--radio">Робот
                                                    <input value="Робот" type="radio" name="number_of_wheels"
                                                           checked="checked"/>
                                                    <div class="control__indicator"></div>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <label>Код двигателя</label>
                                                <input placeholder="Type Model Here" type="text" id="car_code"
                                                       name="car_engine" class="form-control" required="">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <label>Производитель блока управления *</label>
                                                <input placeholder="Type Model Here" type="text" id="car_manufacturer"
                                                       name="car_engine" class="form-control" required="">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <label>Номер блока управления *</label>
                                                <input placeholder="Type Model Here" type="text" id="car_ebu"
                                                       name="car_engine" class="form-control" required="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <label>Тип прошивки *</label>
                                                <input placeholder="Type Model Here" type="text" id="car_ebu_type"
                                                       name="car_engine" class="form-control" required="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <label>Тип микросхемы памяти</label>
                                                <input placeholder="Type Model Here" type="text" id="car_ebu_type_micro"
                                                       name="car_engine" class="form-control" required="">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <label>Чем считывалась прошивка *</label>
                                                <input placeholder="Type Model Here" type="text" id="car_ebu_reader"
                                                       name="car_engine" class="form-control" required="">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group mb-10">
                                                <label>Ссылка на файл архива с прошивкой *</label>
                                                <input placeholder="Type Model Here" type="text" id="car_ebu_file"
                                                       name="car_engine" class="form-control" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="row">
                                    <div class="reservation-second-step">
                                        <h3 class="text-theme-colored line-bottom mt-0 mr-15 mb-30 ml-15">Персональная
                                            <span class="text-theme-color-2">Информацияn</span></h3>
                                        <div class="col-sm-6">
                                            <div class="form-group mb-30">
                                                <input placeholder="Имя" type="text" id="reservation_name"
                                                       name="reservation_name" required="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group mb-30">
                                                <input placeholder="Email" type="text" id="reservation_email"
                                                       name="reservation_email" class="form-control" required="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group mb-30">
                                                <input placeholder="Телефон" type="text" name="reservation_phone"
                                                       class="form-control" required="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group mb-30">
                                                <input placeholder="Страна/Город" type="text" id="reservation_address"
                                                       name="reservation_country" class="form-control" required="">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <textarea placeholder="Комментарий(что необходимо сделать) *" rows="5"
                                                          class="form-control required" name="form_message"
                                                          aria-required="true"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group text-center mb-0 mt-20">
                                                <input name="form_botcheck" class="form-control" type="hidden" value="">
                                                <button type="submit"
                                                        class="btn btn-colored btn-theme-colored btn-lg btn-flat border-left-theme-color-2-4px"
                                                        data-loading-text="Пожалуста подождите...">Отправить
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- Reservation Form End-->

                            <!-- Reservation Form Validation Start-->
                            <script type="text/javascript">
                                $("#reservation_form").validate({
                                    submitHandler: function (form) {
                                        var form_btn = $(form).find('button[type="submit"]');
                                        var form_result_div = '#form-result';
                                        $(form_result_div).remove();
                                        form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                                        var form_btn_old_msg = form_btn.html();
                                        form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                                        $(form).ajaxSubmit({
                                            dataType: 'json',
                                            success: function (data) {
                                                if (data.status == 'true') {
                                                    $(form).find('.form-control').val('');
                                                }
                                                form_btn.prop('disabled', false).html(form_btn_old_msg);
                                                $(form_result_div).html(data.message).fadeIn('slow');
                                                setTimeout(function () {
                                                    $(form_result_div).fadeOut('slow')
                                                }, 6000);
                                            }
                                        });
                                    }
                                });
                            </script>
                            <!-- Reservation Form Validation Start -->
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
    <!-- end main-content -->


    <!-- Footer -->
    <footer id="footer" class="footer divider layer-overlay overlay-dark-8" data-bg-img="images/bg14.jpg"
            style="background-image: url('images/bg14.jpg');">
        <div class="container pt-70 pb-40">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="widget dark">
                        <img class="mt-5 mb-20" alt="" src="images/logo-small.png">
                        <p>212008, Беларусь, г.Могилёв, ул.Каштановая 32</p>
                        <ul class="list-inline mt-5">
                            <li class="m-0 pl-10 pr-10"><i class="fa fa-phone text-theme-color-2 mr-5"></i> <a
                                    class="text-gray"
                                    href="http://thememascot.net/demo/personal/s/workshop/v3.0/demo/index-parallax-home.html#">+375298474727</a>
                            </li>
                            <li class="m-0 pl-10 pr-10"><i class="fa fa-envelope-o text-theme-color-2 mr-5"></i> <a
                                    class="text-gray"
                                    href="http://thememascot.net/demo/personal/s/workshop/v3.0/demo/index-parallax-home.html#">info.chiptuner@mail.ru</a>
                            </li>
                            <li class="m-0 pl-10 pr-10"><i class="fa fa-globe text-theme-color-2 mr-5"></i> <a
                                    class="text-gray"
                                    href="http://thememascot.net/demo/personal/s/workshop/v3.0/demo/index-parallax-home.html#">https://chiptuner.by</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="widget dark">
                        <h4 class="widget-title line-bottom-theme-colored-2" style="font-family: Lato, sans-serif;">
                            Ссылки</h4>
                        <ul class="list angle-double-right list-border">
                            <li>
                                <a href="http://thememascot.net/demo/personal/s/workshop/v3.0/demo/index-parallax-home.html#">
                                    Стоимость</a></li>
                            <li>
                                <a href="http://thememascot.net/demo/personal/s/workshop/v3.0/demo/index-parallax-home.html#">
                                    Стоимость</a></li>
                            <li>
                                <a href="http://thememascot.net/demo/personal/s/workshop/v3.0/demo/index-parallax-home.html#">
                                    Эмулятор катализатора</a></li>
                            <li>
                                <a href="http://thememascot.net/demo/personal/s/workshop/v3.0/demo/index-parallax-home.html#">
                                    Работы</a></li>
                            <li>
                                <a href="http://thememascot.net/demo/personal/s/workshop/v3.0/demo/index-parallax-home.html#">
                                    Галлерея</a></li>
                            <li>
                                <a href="http://thememascot.net/demo/personal/s/workshop/v3.0/demo/index-parallax-home.html#">
                                    Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="widget dark">
                        <h4 class="widget-title line-bottom-theme-colored-2" style="font-family: Lato, sans-serif;">
                            Часы работы</h4>
                        <div class="opening-hourse">
                            <ul class="list-border">
                                <li class="clearfix"><span> Пон - Пят :  </span>
                                    <div class="value pull-right"> 8.00 - 20.00</div>
                                </li>
                                <li class="clearfix"><span> Суб - Вос :  </span>
                                    <div class="value pull-right"> Выходной</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget dark">
                        <h5 class="widget-title mb-10" style="font-family: Lato, sans-serif;">Мы в соцсетях</h5>
                        <ul class="styled-icons icon-bordered icon-sm">
                            <li>
                                <a href="http://thememascot.net/demo/personal/s/workshop/v3.0/demo/index-parallax-home.html#"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li>
                                <a href="http://thememascot.net/demo/personal/s/workshop/v3.0/demo/index-parallax-home.html#"><i
                                        class="fa fa-vk"></i></a></li>
                            <li>
                                <a href="http://thememascot.net/demo/personal/s/workshop/v3.0/demo/index-parallax-home.html#"><i
                                        class="fa fa-skype"></i></a></li>
                            <li>
                                <a href="http://thememascot.net/demo/personal/s/workshop/v3.0/demo/index-parallax-home.html#"><i
                                        class="fa fa-youtube"></i></a></li>
                            <li>
                                <a href="http://thememascot.net/demo/personal/s/workshop/v3.0/demo/index-parallax-home.html#"><i
                                        class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom bg-black-333">
            <div class="container pt-20 pb-20">
                <div class="row">
                    <div class="col-md-6">
                        <p class="font-11 text-black-777 m-0">Все права защищены ©2018 chiptuner.by</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="widget no-border m-0">
                            <p class="font-11 text-black-777 m-0">ИП Шкляров Алексей Васильевич
                                УНП 791022114 от 28.12.2015г.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a class="scrollToTop" href="http://thememascot.net/demo/personal/s/workshop/v3.0/demo/index-parallax-home.html#"
       style="display: none;"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->
<script src="js/custom.js"></script>


<!-- Modal: Bootstrap Parent Modal Starts -->
<div class="modal fade" id="BSParentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<link href="css/theme-skin-color-set-3.css" rel="stylesheet" type="text/css"
      id="link-colors-style">
<link href="css/style-main-dark.css" rel="stylesheet" type="text/css" id="link-style-main-dark">
<link href="css/style.css" rel="stylesheet" type="text/css" id="link-heading-font-family">
</body>
</html>